* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: calc(100vw/7.2);
}
html,
body {
  height: 100%;
  overflow: hidden;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
.clearfix {
  zoom: 1;
}
.war {
  overflow: hidden;
  height: 100%;
}
.war .lasttop {
  position: absolute;
  top: 1rem;
  font-size: 0.24rem;
  color: white;
  margin-left: 1.15rem;
}
.war .lasttop p:first-child {
  font-size: 0.3rem;
  float: left;
}
.war .lasttop p:first-child span {
  font-size: 0.5rem;
}
.war .lasttop .xun {
  width: 2rem;
  border: 0.01rem solid white;
  line-height: 0.6rem;
  border-radius: 0.3rem;
  float: left;
  margin-left: 0.3rem;
}
.war .lasttop p:last-child {
  float: left;
  margin-top: 0.3rem;
}
.war .lastleft {
  width: 1.65rem;
  height: 1.64rem;
  position: absolute;
  top: 5rem;
  left: 0.4rem;
  transform-origin: -2rem 2rem;
  animation: xuan 2000ms linear forwards;
}
.war .lastleft img {
  width: 1.65rem;
  height: 1.64rem;
}
.war .lastleft div {
  width: 0.7rem;
  height: 1rem;
  position: absolute;
  top: -0.6rem;
  left: 28%;
}
.war .lastleft div img {
  width: 0.7rem;
  height: 1rem;
}
.war .lastleft p {
  font-size: 0.24rem;
  width: 1.8rem;
  text-align: center;
  line-height: 0.4rem;
  border: 0.03rem solid #7ba9d8;
  background-color: #2f5e8c;
  border-radius: 0.15rem;
  color: white;
  position: absolute;
  top: 1rem;
  left: -0.04rem;
  opacity: 0.7;
}
@keyframes xuan {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.war .lastcenter {
  width: 2.1rem;
  height: 2.08rem;
  position: absolute;
  top: 3.5rem;
  left: 2.5rem;
  animation: xiao 2000ms linear forwards;
}
.war .lastcenter img {
  width: 2.1rem;
  height: 2.08rem;
}
.war .lastcenter div {
  width: 0.7rem;
  height: 1rem;
  position: absolute;
  top: -0.5rem;
  left: 30%;
}
.war .lastcenter div img {
  width: 0.7rem;
  height: 1rem;
}
.war .lastcenter p {
  font-size: 0.24rem;
  width: 1.8rem;
  text-align: center;
  line-height: 0.4rem;
  border: 0.03rem solid #7ba9d8;
  background-color: #2f5e8c;
  border-radius: 0.15rem;
  color: white;
  position: absolute;
  top: 1.3rem;
  left: 0.15rem;
  opacity: 0.7;
}
@keyframes xiao {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.war .box {
  display: none;
}
.war .box1,
.war .box2 {
  width: 2rem;
  line-height: 0.6rem;
  text-align: center;
  border: 0.01rem solid #ffffff;
  border-radius: 0.3rem;
  font-size: 0.24rem;
  color: white;
}
.war .box1 {
  position: absolute;
  bottom: 1rem;
  left: 0.8rem;
}
.war .box2 {
  position: absolute;
  bottom: 1rem;
  right: 0.8rem;
}
.war .lastright {
  width: 1.82rem;
  height: 1.82rem;
  position: absolute;
  top: 4.3rem;
  right: 0.3rem;
  transform-origin: 2rem 2rem;
  animation: xuan1 2000ms linear forwards;
}
.war .lastright img {
  width: 1.82rem;
  height: 1.82rem;
}
.war .lastright div {
  width: 0.7rem;
  height: 1rem;
  position: absolute;
  top: -0.5rem;
  left: 30%;
}
.war .lastright div img {
  width: 0.7rem;
  height: 1rem;
}
.war .lastright p {
  font-size: 0.24rem;
  width: 1.8rem;
  text-align: center;
  line-height: 0.4rem;
  border: 0.03rem solid #7ba9d8;
  background-color: #2f5e8c;
  border-radius: 0.15rem;
  color: white;
  position: absolute;
  top: 1.2rem;
  left: 0.05rem;
  opacity: 0.7;
}
@keyframes xuan1 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.war .xun img {
  width: 0.26rem;
  margin-left: 0.3rem;
}
.war .bg {
  height: 100%;
  background: url(../images/年度账单/切图/bg.jpg);
  background-size: cover;
  background-position: 0 100%;
  overflow: hidden;
  position: relative;
  transition: all 3900ms;
}
.war .bg .er {
  display: none;
}
.war .bg .man {
  animation: man1 3000ms linear forwards;
}
.war .bg .shang {
  animation: shang1 1000ms linear forwards;
}
.war .bg .zhong {
  position: relative;
  top: 1.8rem;
  opacity: 0;
  transition: all 1000ms;
}
.war .bg .zhong p {
  font-size: 0.4rem;
  text-align: center;
  color: #0c8f8d;
  line-height: 180%;
}
.war .bg .bo {
  position: relative;
  left: 50%;
  top: 2.5rem;
  z-index: 999;
  margin-left: -0.32rem;
}
.war .bg .bo img {
  opacity: 0;
  width: 0.64rem;
  display: block;
  margin-top: 0.3rem;
}
.war .bg .bo .hua {
  animation: hua 1000ms linear infinite reverse;
}
@keyframes hua {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes shang1 {
  0% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes man1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.war .bg .wang {
  width: 1.86rem;
  height: 1.18rem;
  position: absolute;
  background: url(../images/年度账单/导出/q.png) no-repeat;
  background-size: 100% 100%;
  bottom: 0.9rem;
  z-index: 999;
  left: 3.7rem;
  display: none;
  padding: 0.2rem;
  font-size: 0.2rem;
}
.war .top {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 4.65rem;
  margin: 0.3rem auto 0;
  background: url(../images/年度账单/top.png) no-repeat center center;
  background-size: 100%;
}
.war .top .diyi p:first-child {
  font-size: 0.4rem;
  margin: 1.1rem 0 0;
  text-align: center;
  font-weight: 100;
  color: white;
}
.war .top .diyi p:first-child span {
  display: inline-block;
  width: 1.7rem !important;
  height: 0.01rem !important;
  background-color: white !important;
  position: relative;
  top: -0.15rem;
}
.war .top .diyi p:nth-child(2) {
  font-size: 1.2rem;
  text-align: center;
  color: #ffffff;
}
.war .top .diyid {
  display: none;
}
.war .top .diyid p {
  color: white;
  font-size: 0.3rem;
  margin: 1rem 0 0 1.4rem;
}
.war .top .diyid p:last-child {
  font-size: 0.2rem;
  margin: 0.4rem 0 0 3.3rem;
}
.war .top .dier {
  display: none;
}
.war .top .dier p:first-child {
  margin: 0.9rem 0 0 1.41rem;
  font-size: 0.4rem;
  color: white;
}
.war .top .dier p:first-child span {
  font-size: 0.3rem;
}
.war .top .dier .trig {
  float: left;
}
.war .top .dier .trig p:first-child {
  font-size: 0.24rem;
  margin: 0.17rem 0 0 0.45rem;
}
.war .top .dier .trig p:nth-child(2) {
  font-size: 0.2rem;
  color: white;
  text-align: right;
  margin-top: 0.45rem;
}
.war .top .dier .tlef {
  width: 0.76rem;
  height: 0.76rem;
  float: left;
  margin-left: 2.03rem;
}
.war .top .dier .tlef img {
  width: 100%;
}
.war .top .disan {
  display: none;
}
.war .top .disan .tlef {
  width: 0.76rem;
  height: 0.76rem;
  float: left;
  margin: 0.7rem 0 0 1.43rem;
}
.war .top .disan .tlef img {
  width: 100%;
}
.war .top .disan .trig p:first-child {
  margin: 1rem 0 0 0.2rem;
}
.war .top .disan .trig p {
  font-size: 0.3rem;
  color: white;
  float: left;
}
.war .top .disan .trig p:last-child {
  font-size: 0.24rem;
  margin: 0.2rem 0 0 1.3rem;
}
.war .top .disi {
  display: none;
}
.war .top .disi p {
  color: white;
  font-size: 0.3rem;
}
.war .top .disi p {
  color: white;
  font-size: 0.3rem;
  margin: 1rem 0 0 1.4rem;
  font-weight: 600;
}
.war .top .disi p:last-child {
  font-size: 0.24rem;
  margin: 0.4rem 0 0 1.4rem;
  font-weight: 300;
}
.war #que {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  border: none;
  z-index: 999999;
  display: none;
  color: white;
}
.war .xian {
  animation: sheng 1000ms linear forwards;
}
.war .shan {
  width: 7.2rem;
  height: 1.31rem;
  position: absolute;
  bottom: 6.5rem;
}
.war .shan img {
  width: 100%;
}
.war .yun1 {
  width: 7.2rem;
  height: 4.8rem;
  position: absolute;
  bottom: 3rem;
}
.war .yun1 img {
  width: 100%;
}
.war .lu1 {
  width: 2rem;
  height: 0.58rem;
  position: absolute;
  left: 2.548rem;
  bottom: 0;
  z-index: 100;
}
.war .lu1 img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.war .lu2 {
  width: 1rem;
  height: 4.04rem;
  position: absolute;
  left: 2.58rem;
  bottom: -3.2rem;
  z-index: 99;
}
.war .lu2 img {
  width: 100%;
}
.war .jia {
  transform: translateY(8rem);
}
.war .shen {
  animation: sheng 1500ms linear forwards;
}
@keyframes sheng {
  0% {
    transform: translateY(8rem);
  }
  80% {
    transform: translateY(-0.3rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
.war .lu3 {
  width: 1rem;
  height: 4.04rem;
  position: absolute;
  left: 2.1rem;
  bottom: -2.92rem;
  z-index: 89;
}
.war .lu3 img {
  width: 100%;
}
.war .lu4 {
  width: 2rem;
  height: 5.34rem;
  position: absolute;
  left: 1.61rem;
  bottom: -3.37rem;
  z-index: 79;
}
.war .lu4 img {
  width: 100%;
}
.war .lu5 {
  width: 1.76rem;
  height: 3.02rem;
  position: absolute;
  left: 1.383rem;
  bottom: -0.34rem;
  z-index: 69;
}
.war .lu5 img {
  width: 100%;
}
.war .lu6 {
  width: 1.76rem;
  height: 3.02rem;
  position: absolute;
  left: 0.1435rem;
  bottom: 0.37555555rem;
  z-index: 59;
}
.war .lu6 img {
  width: 100%;
}
.war .lu7 {
  width: 1rem;
  height: 4.21rem;
  position: absolute;
  left: 0.85rem;
  bottom: -0.1rem;
  z-index: 58;
}
.war .lu7 img {
  width: 100%;
}
.war .lu8 {
  width: 1rem;
  height: 3.75rem;
  position: absolute;
  left: 1.35rem;
  bottom: 0.7rem;
  z-index: 57;
}
.war .lu8 img {
  width: 100%;
}
.war .bird.wei {
  position: absolute;
  left: 1.45rem;
  bottom: 4rem;
}
.war .bird.wei1 {
  position: absolute;
  left: 4rem;
  bottom: 6rem;
}
.war .bird.wei2 {
  position: absolute;
  left: 5.45rem;
  bottom: 3.4rem;
}
.war .lu9 {
  width: 1.26rem;
  height: 3.45rem;
  position: absolute;
  left: 0.86rem;
  bottom: 1.433rem;
  z-index: 56;
}
.war .lu9 img {
  width: 100%;
}
.war .lu10 {
  width: 1.26rem;
  height: 3.45rem;
  position: absolute;
  left: 1.6rem;
  bottom: 1.86rem;
  z-index: 55;
}
.war .lu10 img {
  width: 100%;
}
.war .lu11 {
  width: 1.26rem;
  height: 3.45rem;
  position: absolute;
  left: 2.34rem;
  bottom: 2.28555rem;
  z-index: 54;
}
.war .lu11 img {
  width: 100%;
}
.war .lu11-1 {
  width: 1.26rem;
  height: 3.45rem;
  position: absolute;
  left: 3.08rem;
  bottom: 2.71rem;
  z-index: 53;
}
.war .lu11-1 img {
  width: 100%;
}
.war .lu12 {
  width: 1rem;
  height: 3.75rem;
  position: absolute;
  left: 3.83rem;
  bottom: 2.7rem;
  z-index: 52;
}
.war .lu12 img {
  width: 100%;
}
.war .lu13 {
  width: 1rem;
  height: 1.45rem;
  position: absolute;
  left: 4.33rem;
  bottom: 4.71rem;
  z-index: 54;
}
.war .lu13 img {
  width: 100%;
}
.war .lu14 {
  width: 2rem;
  height: 5.34rem;
  position: absolute;
  left: 3.83rem;
  bottom: -0.05rem;
  z-index: 54;
}
.war .lu14 img {
  width: 100%;
}
.war .lu15 {
  width: 1rem;
  height: 4.04rem;
  position: absolute;
  left: 4.31rem;
  bottom: 0.4rem;
  z-index: 55;
}
.war .lu15 img {
  width: 100%;
}
.war .lu16 {
  width: 1rem;
  height: 4.04rem;
  position: absolute;
  left: 4.8rem;
  bottom: 0.12rem;
  z-index: 55;
}
.war .lu16 img {
  width: 100%;
}
.war .lu17 {
  width: 1rem;
  height: 3.75rem;
  position: absolute;
  left: 5.3rem;
  bottom: 0.13rem;
  z-index: 55;
}
.war .lu17 img {
  width: 100%;
}
.war .lu18 {
  width: 0.76rem;
  height: 0.8rem;
  position: absolute;
  left: 5.045rem;
  bottom: 2.93rem;
  z-index: 56;
}
.war .lu18 img {
  width: 100%;
}
.war .lu19 {
  width: 1.26rem;
  height: 3.45rem;
  position: absolute;
  left: 4.342rem;
  bottom: -0.256rem;
  z-index: 56;
}
.war .lu19 img {
  width: 100%;
}
.war .lu20 {
  width: 1.26rem;
  height: 3.02rem;
  position: absolute;
  left: 3.605rem;
  bottom: 0.19rem;
  z-index: 57;
}
.war .lu20 img {
  width: 100%;
}
.war .lu21 {
  width: 1rem;
  height: 5.28rem;
  position: absolute;
  left: 3.115rem;
  bottom: -1.8rem;
  z-index: 56;
  transition: all 3900ms;
}
.war .lu21 img {
  width: 100%;
}
.war .luu {
  animation: lu 3900ms linear forwards;
}
@keyframes lu {
  0% {
    bottom: -1.8rem;
  }
  10% {
    bottom: -2.1rem;
  }
  20% {
    bottom: -2.1rem;
  }
  100% {
    bottom: 0rem;
  }
}
.war .zui {
  animation: niao 3900ms linear forwards;
}
@keyframes niao {
  0% {
    bottom: 3rem;
  }
  10% {
    bottom: 2.7rem;
  }
  20% {
    bottom: 2.7rem;
  }
  100% {
    bottom: 4.9rem;
  }
}
.war .lu22 {
  width: 1rem;
  height: 3.46rem;
  position: absolute;
  left: 0.36rem;
  bottom: 1.85rem;
  z-index: 54;
  transform: translateY(12rem);
}
.war .lu22 img {
  width: 100%;
}
.war .sheng {
  animation: dd 1500ms linear forwards;
}
.war .lu23 {
  width: 0.68rem;
  height: 0.66rem;
  position: absolute;
  left: 0.5rem;
  bottom: 5.6rem;
  z-index: 62;
  transform: translateY(12rem);
}
.war .lu23 img {
  width: 100%;
  animation: bai 1000ms linear infinite alternate-reverse;
}
@keyframes bai {
  0% {
    transform: translateY(-0.1rem);
  }
  50% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(0.1rem);
  }
}
@keyframes dd {
  0% {
    transform: translateY(12rem);
  }
  80% {
    transform: translateY(-0.1rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
.war .lu24 {
  width: 2.5rem;
  height: 5.71rem;
  position: absolute;
  left: 1.1rem;
  bottom: 2rem;
  z-index: 52;
}
.war .lu24 img {
  width: 100%;
}
.war .lu25 {
  width: 1rem;
  height: 3.46rem;
  position: absolute;
  left: 4.335rem;
  bottom: 3.56rem;
  z-index: 50;
  transform: translateY(12rem);
}
.war .lu25 img {
  width: 100%;
}
.war .lu26 {
  width: 0.82rem;
  height: 0.73rem;
  position: absolute;
  left: 4.45rem;
  bottom: 7.05rem;
  z-index: 50;
  transform: translateY(12rem);
}
.war .lu26 img {
  width: 100%;
  animation: bai 1000ms linear infinite alternate-reverse;
}
.war .lu27 {
  width: 1.63rem;
  height: 4.61rem;
  position: absolute;
  left: 2.1rem;
  bottom: 0.6rem;
  z-index: 55;
  overflow: hidden;
}
.war .lu27 .xia {
  width: 99rem;
  animation: motian 500ms infinite steps(3);
}
.war .lu27 .xia img {
  float: left;
  width: 1.63rem;
  height: 4.61rem;
}
@keyframes motian {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-4.89rem);
  }
}
.war .lu28 {
  width: 1rem;
  height: 3.2rem;
  position: absolute;
  right: -0.4rem;
  bottom: -0.4rem;
  z-index: 55;
}
.war .lu28 img {
  width: 100%;
}
.war .lu29 {
  width: 1.26rem;
  height: 4.21rem;
  position: absolute;
  right: 0.1435rem;
  bottom: 0.2rem;
  z-index: 51;
  transform: translateY(12rem);
}
.war .lu29 img {
  width: 100%;
}
.war .lu30 {
  width: 0.6rem;
  height: 0.84rem;
  position: absolute;
  right: 0.6rem;
  bottom: 4.4rem;
  z-index: 51;
  transform: translateY(12rem);
}
.war .lu30 img {
  width: 100%;
  animation: bai 1000ms linear infinite alternate-reverse;
}
.war .lu31 {
  width: 1.5rem;
  height: 6.34rem;
  position: absolute;
  right: 0.18rem;
  bottom: 1.4rem;
  z-index: 50;
}
.war .lu31 img {
  width: 100%;
}
.war .yun2 {
  width: 7.2rem;
  height: 2.4rem;
  position: absolute;
  bottom: 0;
  z-index: 72;
}
.war .yun2 img {
  width: 100%;
}
.war .bird {
  width: 0.7rem;
  height: 1rem;
  position: absolute;
  left: 3.3rem;
  bottom: 0;
  z-index: 101;
}
.war .xiaqu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0rem;
}
.war .xiaqu1 {
  top: 8rem;
  transition: all 3000ms;
}
.war .yun3 {
  width: 7.2rem;
  height: 5.74rem;
  position: absolute;
  bottom: 0;
  z-index: 48;
}
.war .yun3 img {
  width: 100%;
}
.war .bird.active1 {
  animation: first 7900ms linear forwards;
}
.war .bird.active2 {
  animation: second 4280ms linear forwards;
}
.war .bird.active3 {
  animation: third 4700ms linear forwards;
}
.war .bird.active4 {
  animation: fourth 3120ms linear forwards;
}
@keyframes first {
  0% {
    left: 3.3rem;
    bottom: 0;
  }
  31.3% {
    bottom: 1rem;
    left: 1.8rem;
  }
  46.8% {
    left: 2.7rem;
    bottom: 1.55rem;
  }
  79.9% {
    left: 0.5rem;
    bottom: 2.85rem;
  }
  100% {
    left: 1.5rem;
    bottom: 4rem;
  }
}
@keyframes second {
  0% {
    left: 1.5rem;
    bottom: 4.1rem;
  }
  13% {
    left: 1rem;
    bottom: 4.3rem;
  }
  100% {
    left: 4rem;
    bottom: 6.1rem;
  }
}
@keyframes third {
  0% {
    left: 4rem;
    bottom: 6.1rem;
  }
  35.3% {
    left: 5rem;
    bottom: 4.9rem;
  }
  60.8% {
    left: 4rem;
    bottom: 4.3rem;
  }
  100% {
    left: 5.5rem;
    bottom: 3.5rem;
  }
}
@keyframes fourth {
  0% {
    left: 5.5rem;
    bottom: 3.5rem;
  }
  63.4% {
    left: 4rem;
    bottom: 2.4rem;
  }
  100% {
    left: 3.3rem;
    bottom: 3.1rem;
  }
}
@keyframes er {
  0% {
    left: 3.3rem;
    bottom: 0;
  }
  12.4% {
    bottom: 1rem;
    left: 1.8rem;
  }
  18.6% {
    left: 2.7rem;
    bottom: 1.6rem;
  }
  31.6% {
    left: 0.6rem;
    bottom: 2.9rem;
  }
  39.5% {
    left: 1.5rem;
    bottom: 4.1rem;
  }
  42.3% {
    left: 1rem;
    bottom: 4.3rem;
  }
  60.8% {
    left: 4rem;
    bottom: 6.1rem;
  }
  69.2% {
    left: 5rem;
    bottom: 4.9rem;
  }
  75.2% {
    left: 4rem;
    bottom: 4.3rem;
  }
  84.3% {
    left: 5.5rem;
    bottom: 3.5rem;
  }
  94.2% {
    left: 4rem;
    bottom: 2.4rem;
  }
  100% {
    left: 3.3rem;
    bottom: 3.1rem;
  }
}
.guang,
.guang1,
.guang2,
.guang3 {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 8px solid white;
  border-radius: 50%;
  margin: 100px auto;
  display: none;
  animation: quan 1000ms linear infinite reverse;
  z-index: 999;
}
.guang {
  bottom: 2.2rem;
  left: 1.73rem;
}
.guang1 {
  bottom: 4.2rem;
  left: 4.2rem;
}
.guang2 {
  bottom: 1.55rem;
  left: 5.65rem;
}
.guang3 {
  bottom: 1.15rem;
  left: 3.45rem;
}
@keyframes quan {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  33.3% {
    transform: scale(2);
    opacity: 0.5;
    border: 4px solid white;
  }
  66.6% {
    transform: scale(3);
    opacity: 0.2;
    border: 2px solid white;
  }
  100% {
    transform: scale(0.6);
    opacity: 1;
  }
}
